@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pixel";
  src:
    url("./assets/fonts/DungGeunMo.woff2") format("woff2"),
    url("./assets/fonts/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 크로스 브라우저 호환성을 위해서, 압축이 더 잘되는 woff2 형식 추가 */
body {
  background-image: url("./assets/images/common/background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "pixel";
}
